calc3/*
!calc3/calc3.pdf
!calc3/calc3.tex
calc3_full/*
!calc3_full/calc3.pdf
!calc3_full/calc3.tex
discrete/*
!discrete/discrete.pdf
!discrete/discrete.tex
topology/*
!topology/topology.tex
!topology/topology.pdf
toc/*
!toc/toc.tex
!toc/toc.pdf
quantum/*
!quantum/quantum.tex
!quantum/quantum.pdf
diffeq/*
!diffeq/diffeq.tex
!diffeq/diffeq.pdf
la/*
!la/la.tex
!la/la.pdf
complex/*
!complex/complex.tex
!complex/complex.pdf

