calc3/calc3.aux
calc3/calc3.fdb_latexmk
calc3/calc3.fls
calc3/calc3.log
calc3/calc3.synctex.gz
calc3/calc3.toc
discrete/discrete.aux
discrete/discrete.fdb_latexmk
discrete/discrete.fls
discrete/discrete.log
discrete/discrete.synctex.gz
discrete/texput.log
